rml_temp_dir/
src/main/resources/jar/rmlmapper-6.5.1-r371-all.jar
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/tdb/GOSP.dat
/tdb/GOSP.idn
/tdb/GPOS.dat
/tdb/GPOS.idn
/tdb/GSPO.dat
/tdb/GSPO.idn
/tdb/journal.jrnl
/tdb/node2id.dat
/tdb/node2id.idn
/tdb/nodes.dat
/tdb/OSP.dat
/tdb/OSP.idn
/tdb/OSPG.dat
/tdb/OSPG.idn
/tdb/POS.dat
/tdb/POS.idn
/tdb/POSG.dat
/tdb/POSG.idn
/tdb/prefix2id.dat
/tdb/prefix2id.idn
/tdb/prefixes.dat
/tdb/prefixIdx.dat
/tdb/prefixIdx.idn
/tdb/SPO.dat
/tdb/SPO.idn
/tdb/SPOG.dat
/tdb/SPOG.idn
/tdb/tdb.lock
jena-config/data/dataset/Data-0001/GOSP.bpt
jena-config/data/dataset/Data-0001/GOSP.dat
jena-config/data/dataset/Data-0001/GOSP.idn
jena-config/data/dataset/Data-0001/GPOS.bpt
jena-config/data/dataset/Data-0001/GPOS.dat
jena-config/data/dataset/Data-0001/GPOS.idn
jena-config/data/dataset/Data-0001/GPU.bpt
jena-config/data/dataset/Data-0001/GPU.dat
jena-config/data/dataset/Data-0001/GPU.idn
jena-config/data/dataset/Data-0001/GSPO.bpt
jena-config/data/dataset/Data-0001/GSPO.dat
jena-config/data/dataset/Data-0001/GSPO.idn
jena-config/data/dataset/Data-0001/journal.jrnl
jena-config/data/dataset/Data-0001/nodes-data.bdf
jena-config/data/dataset/Data-0001/nodes-data.obj
jena-config/data/dataset/Data-0001/nodes.bpt
jena-config/data/dataset/Data-0001/nodes.dat
jena-config/data/dataset/Data-0001/nodes.idn
jena-config/data/dataset/Data-0001/OSP.bpt
jena-config/data/dataset/Data-0001/OSP.dat
jena-config/data/dataset/Data-0001/OSP.idn
jena-config/data/dataset/Data-0001/OSPG.bpt
jena-config/data/dataset/Data-0001/OSPG.dat
jena-config/data/dataset/Data-0001/OSPG.idn
jena-config/data/dataset/Data-0001/POS.bpt
jena-config/data/dataset/Data-0001/POS.dat
jena-config/data/dataset/Data-0001/POS.idn
jena-config/data/dataset/Data-0001/POSG.bpt
jena-config/data/dataset/Data-0001/POSG.dat
jena-config/data/dataset/Data-0001/POSG.idn
jena-config/data/dataset/Data-0001/prefixes-data.bdf
jena-config/data/dataset/Data-0001/prefixes-data.obj
jena-config/data/dataset/Data-0001/prefixes.bpt
jena-config/data/dataset/Data-0001/prefixes.dat
jena-config/data/dataset/Data-0001/prefixes.idn
jena-config/data/dataset/Data-0001/SPO.bpt
jena-config/data/dataset/Data-0001/SPO.dat
jena-config/data/dataset/Data-0001/SPO.idn
jena-config/data/dataset/Data-0001/SPOG.bpt
jena-config/data/dataset/Data-0001/SPOG.dat
jena-config/data/dataset/Data-0001/SPOG.idn
jena-config/data/dataset/Data-0001/tdb.lock
